
.main  li, .main  ul
{
     margin: 0;
     padding: 0;
     display: inline-block;
     list-style: none;
    
     
}
.main  ul
{
   background-color: pink; 
   list-style: none;
   width: 100%;
   
}
.main  li
{
   float: left;
   position: relative;
   width: auto;
   

}

.main a{
   background-color: rgba(255, 192, 203, 0.726); 
   color: black;
   display: block;
   font-size :20px;
   text-decoration: none;
   transition: all 0.25 ease;
   padding: 15px 55px;
   transition: all 0.25s ease;
   
  
}
.main li:hover a{
   background-color: #FC8EAC;
}

#items1
{
   left: 0;
   opacity: 0;
   position: absolute;
   top: 35px;
   visibility: hidden;
   z-index: 1;
   
}
li:hover ul#items1
{
   opacity: 1;
   top: 80px;
   visibility: visible;
}
#items1 li
{
   float: none;
   width: 100%;
  
}

#items1 a:hover
{
   background-color:#F4C2C2;
}
body{
   margin: 0;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   background: whitesmoke;
   overflow-x: hidden;
}
h3{
   text-align: center;
   font-size: 18px;
   margin: 0;
   padding-top: 10px;
}
a{
   text-decoration: none;
}
.gallery
{
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   justify-content: center;
   align-items: center;
   margin: 50px 0; 
  
}
.content
{
   width: 20%;
   margin: 15px;
   box-sizing: border-box;
   float:left;
   text-align: center;
   border-radius: 20px;
   cursor: pointer;
   padding-top: 10px;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
   transition: .4s;
   background-color: #f2f2f2;
   
}
.content:hover{
   box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
   transform: translate(0px,-8px);
   /*background-color:rgb(240, 202, 224)*/

}
img{
   width: 200px;
   height: 250px;
   text-align: center;
   margin: 0 auto;
   display: block;

}
p{
   text-align: center;
   color: #2c262c;
   padding-top: 0 8px;
   font-size:large;
}
h5{
   font-size: 21px;
   text-align: center;
   color: #222f3e;
   margin: 0;
}
ul{
   list-style: none;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 0;
   padding-right: 35px;
}
li{
   padding-top: 5px;
}
.fa
{
   font-size: 15px;
   transition: .4s;
   margin: 2px;
   
}
.checked
{
   color: #1eb23e;
}
.fa:hover
{
   transform: scale(1.3);
   transition: .6s;
}
button{
   text-align: center;
   font-size: 24px;
   color: #fff;
   width: 100%;
   padding: 15px;
   border: 0;
   outline: none;
   cursor: pointer;
   margin-top: 5px;
   border-bottom-right-radius: 20px;
   border-bottom-left-radius: 20px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}
.b
{
  /* From https://css.glass */
  
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: black;
}
button:hover
{
   
}

.footer{
   background:#000;
   padding:30px 0px;
   font-family: 'Play', sans-serif;
   text-align:center;
   }
   
   .footer .row{
   width:100%;
   margin:1% 0%;
   padding:0.6% 0%;
   color:gray;
   font-size:0.8em;
   }
   
   .footer .row a{
   text-decoration:none;
   color:gray;
   transition:0.5s;
   }
   
   .footer .row a:hover{
   color:#fff;
   }
   
   .footer .row ul{
   width:100%;
   }
   
   .footer .row ul li{
   display:inline-block;
   margin:0px 30px;
   }
   
   .footer .row a i{
   font-size:2em;
   margin:0% 1%;
   }
   
   @media (max-width:720px){
   .footer{
   text-align:left;
   padding:5%;
   }
   .footer .row ul li{
   display:block;
   margin:10px 0px;
   text-align:left;
   }
   .footer .row a i{
   margin:0% 3%;
   }
   
   
   }